@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@layer base {
  h1 {
    @apply text-2xl font-bold md:text-4xl;
  }

  h2 {
    @apply text-xl font-bold md:text-3xl;
  }

  h3 {
    @apply text-lg font-bold md:text-2xl;
  }

  h4 {
    @apply text-base font-bold md:text-lg;
  }

  body {
    @apply text-sm md:text-base;
  }

}

